/* Base Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
}
.navbar.dark{
 background: linear-gradient(to right, #0a0a23, #1a1a40);
  color: white;
}
/* Glass effect when navbar has 'glass' class (on scroll) */
.navbar.glass {
background: rgba(255, 255, 255, 0.18);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}

.navbar.dark.glass {
  background-color: rgba(10, 10, 35, 0.4); /* for dark mode glass effect */
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color:#263879;
}
.navbar.dark .logo span{
  color:#ffffff;
}

/* Hamburger Button */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: rgb(0, 0, 0);
  transition: 0.3s ease;
  border-radius: 2px;
}
.navbar.dark .hamburger span{
  background-color: white;
}

/* Animation: Turn into 'X' */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Nav menu */
.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s ease;
}
.navbar.dark .menu li a{
 color: rgb(196, 224, 247);
}

.menu li a:hover {
  color: #1b1956;
  transform: scale(1.1);
}
.navbar.dark .menu li a:hover{
 color: white;
}


/* Responsive: Sidebar + Overlay */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    position: fixed;
    top: -100%;
    left: 0%;
    height: 300px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px;
    gap: 20px;
    transition: top  0.3s ease;
    z-index: 1050;
background: rgba(255, 255, 255, 0.18);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
opacity: 0;
  }
.menu.dark{
  background-color: rgba(10, 10, 35, 0.4); /* for dark mode glass effect */
}
  .menu.open {
    top: 0;
    opacity: 1;
  }

  .menu li a {
    font-size: 20px;
  }

}
